In [6]:
####################################
#
# Tarea 1. BAses de datos
# Diplomado ITAM
# Profesor: Gerardo Durán
# Autor: José Alberto Pérez de Acha
#
####################################

In [8]:
import pymysql
import sqlalchemy

In [11]:
passw = "maquina271"

In [21]:
from pymysql.cursors import DictCursor

In [27]:
# EJERCICIO 1
# Realiza una consulta a la base de datos nabla_python por medio de pymysql: 
# encuentra los tipos de status existentes dentro de la tabla orders.

conn_1 = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

query="""
SELECT DISTINCT status
FROM orders;
"""
with conn_1.cursor() as cursor:
    cursor.execute(query)
    orders_status = cursor.fetchall()

for status in orders_status:
    print(status)

conn_1.close()

('Shipped',)
('Resolved',)
('Cancelled',)
('On Hold',)
('Disputed',)
('In Process',)

In [32]:
# EJERCICIO 2
# Realiza una consulta a la base de datos nabla_python por medio de pymysql: 
# encuentra los 10 clientes customerName que más han comprado en la tienda. 
# La tabla resultante deberá estar ordenada de mayor a menor con customerName y expenses 
# como la columna en dónde se encuentre el monto gastado en la tienda. (hint: considera las tablas customers y payments)


conn_1 = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

query="""
select c.customername, SUM(amount)
from customers c, payments o
where c.customernumber = o.customernumber
group by c.customername
order by 2 desc
limit 10;
"""
with conn_1.cursor() as cursor:
    cursor.execute(query)
    customer_name = cursor.fetchall()

for name in customer_name:
    print(list(name))

conn_1.close()

['Euro+ Shopping Channel', Decimal('715738.98')]
['Mini Gifts Distributors Ltd.', Decimal('584188.24')]
['Australian Collectors, Co.', Decimal('180585.07')]
['Muscle Machine Inc', Decimal('177913.95')]
['Dragon Souveniers, Ltd.', Decimal('156251.03')]
['Down Under Souveniers, Inc', Decimal('154622.08')]
['AV Stores, Co.', Decimal('148410.09')]
["Anna's Decorations, Ltd", Decimal('137034.22')]
['Corporate Gift Ideas Co.', Decimal('132340.78')]
['Saveley & Henriot, Co.', Decimal('130305.35')]

In [35]:
# EJERCICIO 3
# Escribe una consulta que, para cada producto comprado muestre la clave del cliente customerNumber y 
# el código del producto productCode. Obten los primeros 10 valores

conn_1 = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

query="""
select o.customernumber, d.productcode, COUNT(d.productcode)
from orders o, orderdetails d
where o.ordernumber = d.ordernumber
group by o.customernumber, d.productcode
order by 3 desc;
"""
with conn_1.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

for product in orders:
    print(list(product))

conn_1.close()

[141, 'S18_3232', 8]
[141, 'S24_1444', 6]
[141, 'S24_2840', 6]
[141, 'S18_2319', 5]
[141, 'S24_4048', 5]
[141, 'S32_2509', 5]
[141, 'S50_1392', 5]
[124, 'S18_4668', 4]
[124, 'S12_1108', 4]
[124, 'S12_3891', 4]

In [36]:
# EJERCICIO 4
# En base al ejercicio anterior, reemplaza productCode por productName. 
# HINT: El comando WITH nos ayuda a crear una tabla temporal:

conn_1 = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

query="""
with tabla as (
select o.customernumber, d.productcode, COUNT(d.productcode) as cantidad
from orders o, orderdetails d
where o.ordernumber = d.ordernumber
group by o.customernumber, d.productcode
order by 3 desc)
select t.customernumber, p.productname, sum(t.cantidad)
from products p
join tabla t
on t.productcode = p.productcode
group by t.customernumber, p.productname
order by 3 desc;
"""
with conn_1.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

for product in orders:
    print(list(product))

conn_1.close()

[141, '1992 Ferrari 360 Spider red', Decimal('8')]
[141, '1970 Dodge Coronet', Decimal('6')]
[141, '1958 Chevy Corvette Limited Edition', Decimal('6')]
[141, '1964 Mercedes Tour Bus', Decimal('5')]
[141, '1992 Porsche Cayenne Turbo Silver', Decimal('5')]
[141, '1954 Greyhound Scenicruiser', Decimal('5')]
[141, 'Diamond T620 Semi-Skirted Tanker', Decimal('5')]
[124, '2001 Ferrari Enzo', Decimal('4')]
[124, '1969 Ford Falcon', Decimal('4')]
[124, '1957 Chevy Pickup', Decimal('4')]

In [37]:
# EJERCICIO 5
# En base al ejercicio anterior, reemplaza customerNumber por customerName:

conn_1 = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

query="""
with tabla as (
select c.customername, d.productcode, COUNT(d.productcode) as cantidad
from orders o, orderdetails d, customers c
where c.customernumber = o.customernumber AND o.ordernumber = d.ordernumber
group by c.customername, d.productcode
order by 3 desc)
select t.customername, p.productname, sum(t.cantidad)
from products p
join tabla t
on t.productcode = p.productcode
group by t.customername, p.productname
order by 3 desc;
"""
with conn_1.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

for product in orders:
    print(list(product))

conn_1.close()

['Euro+ Shopping Channel', '1992 Ferrari 360 Spider red', Decimal('8')]
['Euro+ Shopping Channel', '1970 Dodge Coronet', Decimal('6')]
['Euro+ Shopping Channel', '1958 Chevy Corvette Limited Edition', Decimal('6')]
['Euro+ Shopping Channel', '1964 Mercedes Tour Bus', Decimal('5')]
['Euro+ Shopping Channel', '1992 Porsche Cayenne Turbo Silver', Decimal('5')]
['Euro+ Shopping Channel', '1954 Greyhound Scenicruiser', Decimal('5')]
['Euro+ Shopping Channel', 'Diamond T620 Semi-Skirted Tanker', Decimal('5')]
['Mini Gifts Distributors Ltd.', '2001 Ferrari Enzo', Decimal('4')]
['Mini Gifts Distributors Ltd.', '1969 Ford Falcon', Decimal('4')]
['Mini Gifts Distributors Ltd.', '1957 Chevy Pickup', Decimal('4')]

In [38]:
# EJERCICIO 6
# En base al ejercicio anterior, reemplaza customerNumber por customerName

conn_1 = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

query="""
select o.customernumber, p.productname, COUNT(d.productcode)
from orders o, orderdetails d, products p
where o.ordernumber = d.ordernumber AND p.productcode = d.productcode
group by o.customernumber, p.productname
order by 3 desc;
"""
with conn_1.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

for product in orders:
    print(list(product))

conn_1.close()

[141, '1992 Ferrari 360 Spider red', 8]
[141, '1970 Dodge Coronet', 6]
[141, '1958 Chevy Corvette Limited Edition', 6]
[141, '1964 Mercedes Tour Bus', 5]
[141, '1992 Porsche Cayenne Turbo Silver', 5]
[141, '1954 Greyhound Scenicruiser', 5]
[141, 'Diamond T620 Semi-Skirted Tanker', 5]
[124, '2001 Ferrari Enzo', 4]
[124, '1969 Ford Falcon', 4]
[141, '1957 Chevy Pickup', 4]

In [40]:
# EJERCICIOS 7 y 8
# Por medio de SQLAlchemy, define la tabla orders definida dentro de nabla_python

##################################################################################
# IMPORTANTE: Encontré una rutina que genera el código en SQLAlchemy.
# Se llama sqlacodegen
# URL: https://pypi.org/project/sqlacodegen/
# Se descarga el binario usando PIP y ejecuta de la siguiente forma: 
#     sqlacodegen mysql+pymysql://nabla123:maquina271@db4free.net:3306/nabla_python > habla_python.sqlalchemy
##################################################################################

# coding: utf-8
from sqlalchemy import Column, DECIMAL, Date, ForeignKey, Integer, SmallInteger, String, Text
from sqlalchemy.dialects.mysql import MEDIUMBLOB, MEDIUMTEXT
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class Office(Base):
    __tablename__ = 'offices'

    officeCode = Column(String(10), primary_key=True)
    city = Column(String(50), nullable=False)
    phone = Column(String(50), nullable=False)
    addressLine1 = Column(String(50), nullable=False)
    addressLine2 = Column(String(50))
    state = Column(String(50))
    country = Column(String(50), nullable=False)
    postalCode = Column(String(15), nullable=False)
    territory = Column(String(10), nullable=False)


class Productline(Base):
    __tablename__ = 'productlines'

    productLine = Column(String(50), primary_key=True)
    textDescription = Column(String(4000))
    htmlDescription = Column(MEDIUMTEXT)
    image = Column(MEDIUMBLOB)


class Employee(Base):
    __tablename__ = 'employees'

    employeeNumber = Column(Integer, primary_key=True)
    lastName = Column(String(50), nullable=False)
    firstName = Column(String(50), nullable=False)
    extension = Column(String(10), nullable=False)
    email = Column(String(100), nullable=False)
    officeCode = Column(ForeignKey('offices.officeCode'), nullable=False, index=True)
    reportsTo = Column(ForeignKey('employees.employeeNumber'), index=True)
    jobTitle = Column(String(50), nullable=False)

    office = relationship('Office')
    parent = relationship('Employee', remote_side=[employeeNumber])


class Product(Base):
    __tablename__ = 'products'

    productCode = Column(String(15), primary_key=True)
    productName = Column(String(70), nullable=False)
    productLine = Column(ForeignKey('productlines.productLine'), nullable=False, index=True)
    productScale = Column(String(10), nullable=False)
    productVendor = Column(String(50), nullable=False)
    productDescription = Column(Text, nullable=False)
    quantityInStock = Column(SmallInteger, nullable=False)
    buyPrice = Column(DECIMAL(10, 2), nullable=False)
    MSRP = Column(DECIMAL(10, 2), nullable=False)

    productline = relationship('Productline')


class Customer(Base):
    __tablename__ = 'customers'

    customerNumber = Column(Integer, primary_key=True)
    customerName = Column(String(50), nullable=False)
    contactLastName = Column(String(50), nullable=False)
    contactFirstName = Column(String(50), nullable=False)
    phone = Column(String(50), nullable=False)
    addressLine1 = Column(String(50), nullable=False)
    addressLine2 = Column(String(50))
    city = Column(String(50), nullable=False)
    state = Column(String(50))
    postalCode = Column(String(15))
    country = Column(String(50), nullable=False)
    salesRepEmployeeNumber = Column(ForeignKey('employees.employeeNumber'), index=True)
    creditLimit = Column(DECIMAL(10, 2))

    employee = relationship('Employee')


class Order(Base):
    __tablename__ = 'orders'

    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date, nullable=False)
    requiredDate = Column(Date, nullable=False)
    shippedDate = Column(Date)
    status = Column(String(15), nullable=False)
    comments = Column(Text)
    customerNumber = Column(ForeignKey('customers.customerNumber'), nullable=False, index=True)

    customer = relationship('Customer')


class Payment(Base):
    __tablename__ = 'payments'

    customerNumber = Column(ForeignKey('customers.customerNumber'), primary_key=True, nullable=False)
    checkNumber = Column(String(50), primary_key=True, nullable=False)
    paymentDate = Column(Date, nullable=False)
    amount = Column(DECIMAL(10, 2), nullable=False)

    customer = relationship('Customer')


class Orderdetail(Base):
    __tablename__ = 'orderdetails'

    orderNumber = Column(ForeignKey('orders.orderNumber'), primary_key=True, nullable=False)
    productCode = Column(ForeignKey('products.productCode'), primary_key=True, nullable=False, index=True)
    quantityOrdered = Column(Integer, nullable=False)
    priceEach = Column(DECIMAL(10, 2), nullable=False)
    orderLineNumber = Column(SmallInteger, nullable=False)

    order = relationship('Order')
    product = relationship('Product')

In [41]:
from sqlalchemy import create_engine
engstr = "mysql+pymysql://nabla123:maquina271@db4free.net:3306/nabla_python"

In [42]:
from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

In [43]:
conn_2 = engine.connect()

In [44]:

query = (sess.query(Order.status)
             .distinct(Order.status))

for instance in query:
    print(instance.status)

Shipped
Resolved
Cancelled
On Hold
Disputed
In Process

In [45]:
conn_2.close()